@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    outline: 0;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

a:hover {
    text-decoration: none;
}

.section_padding {
	padding: 70px 0;
}

.section_single_padding {
	padding-top: 180px;
	padding-bottom: 50px;
}

.space-10{
    height: 10px;
}

.space-20{
    height: 20px;
}

.space-30{
    height: 30px;
}

.space-40{
    height: 40px;
}

.space-50{
    height: 50px;
}

.space-60{
    height: 60px;
}

.space-70{
    height: 70px;
}

.space-80{
    height: 80px;
}

.space-90{
    height: 90px;
}

.space-100{
    height: 100px;
}

.mb-40{
	margin-bottom: 40px;
}

.ml_zero {
    margin-left: 0px;
}

.section_title {
	font-size: 38px;
	font-weight: 700;
}

.section_subtitle {
	text-transform: lowercase;
	letter-spacing: 2px;
	display: inline-block;
	margin-bottom: 20px;
	padding-top: 12px;
	position: relative;
	color: #888;
	line-height: 150%;
}

.section_subtitle::after,
.section_subtitle::before {
	position: absolute;
	content: "";
	height: 1px;
	width: 79px;
	background: #1E88E5;
	left: 0;
	top: 0;
}

.section_subtitle::before {
	background-color: #fff;
	width: 20px;
	z-index: 2;
	left: 16px;
	opacity: .8;
}

/* loader style start */

@-webkit-keyframes text_anim {
    0%   { letter-spacing: 2px }
    100% { letter-spacing: 15px }
}

@-moz-keyframes text_anim {
    0%   { letter-spacing: 2px }
    100% { letter-spacing: 15px }
}

@-o-keyframes text_anim {
    0%   { letter-spacing: 2px }
    100% { letter-spacing: 15px }
}

@keyframes text_anim {
    0%   { letter-spacing: 2px }
    100% { letter-spacing: 15px }
}

.preloader {
	left: 50%;
	top: 50%;
	z-index: 9999;
	position: fixed;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
}

.preloader p {
    padding-left: 10px;
    letter-spacing: 15px;
    -webkit-animation: text_anim 1.5s infinite alternate-reverse;
    -moz-animation: text_anim 1.5s infinite alternate-reverse;
    -o-animation: text_anim 1.5s infinite alternate-reverse;
    animation: text_anim 1.5s infinite alternate-reverse;
}

.preloader p.loaded {
    padding-left: 10px;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
}

.preloader_hide {
    top: 25%;
    opacity: 0;
	visibility: hidden;
}

.line_loader {
	height: 3px;
	width: 270px;
	background-color: #55656b;
	position: relative;
	margin-bottom: 15px;
	overflow: hidden;
}

@-webkit-keyframes line_anim {
    0%   { width:0%; right:0 }
    50%   { width:100%; right:0 }
    100% { width:0%; right:100% }
}

@-moz-keyframes line_anim {
    0%   { width:0%; right:0 }
    50%   { width:100%; right:0 }
    100% { width:0%; right:100% }
}

@-o-keyframes line_anim {
    0%   { width:0%; right:0 }
    50%   { width:100%; right:0 }
    100% { width:0%; right:100% }
}

@keyframes line_anim {
    0%   { width:0%; right:0 }
    50%   { width:100%; right:0 }
    100% { width:0%; right:100% }
}

.line_loader::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 0;
    background-color: #fff;
    -webkit-animation: line_anim 1.5s infinite reverse;
    -moz-animation: line_anim 1.5s infinite reverse;
    -o-animation: line_anim 1.5s infinite reverse;
    animation: line_anim 1.5s infinite reverse;
}

.line_loader.loaded::after {
    width: 100%;
    right: 0;
    background-color: #fff;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.overlay2,
.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: .3s;
}

.change {
    position: fixed;
}

.overlay::before,
.overlay::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1e292d;
    transition: 1s;
    z-index: 9995;
}

.overlay::before {
    background-color: #2a373c;
    transition-delay: .2s;
    z-index: 9994;
}

.overlay2::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #404b50;
    transition: 1s;
    transition-delay: .4s;
    z-index: 9993;
}

.overlay.change::before,
.overlay.change::after,
.overlay2.change::after {
    height: 0%;
}

/* loader style end */

/* reveal-text start */

.reveal-text,
.reveal-text::after {
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-duration: 800ms;
	animation-duration: 800ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-trigger {
    opacity: 0;
}

.reveal-text {
	position: relative;
	display: inline-block;
	opacity:1;
	-webkit-animation-name: reveal-text;
	animation-name: reveal-text;
	
}

.reveal-text::after {
	content: "";
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #1E88E5;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	pointer-events: none;
	-webkit-animation-name: revealer-text;
    animation-name: revealer-text;
}


@-webkit-keyframes reveal-text {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
		clip-path: inset(0 100% 0 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		clip-path: inset(0 0 0 0);
	}
}


@keyframes reveal-text {
	from {
		-webkit-clip-path: inset(0 100% 0 0);
		clip-path: inset(0 100% 0 0);
	}
	to {
		-webkit-clip-path: inset(0 0 0 0);
		clip-path: inset(0 0 0 0);
	}
}


@-webkit-keyframes revealer-text {
	
	0%, 50% {
		-webkit-transform-origin: 0 50%;
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;		
	}

	
	60% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
	
	100% {
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
	}
}


@keyframes revealer-text {
	
	0%, 50% {
		-webkit-transform-origin: 0 50%;
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;		
	}

	
	60% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
	
	100% {
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
	}
}

/* reveal-text end */

/* begin of owl button style */

.owl-nav {
	margin-top: 30px;
}

.owl-nav button {
	outline: 0;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 1;
}

.owl-nav button.owl-next {
	left: 60px;
}

.owl-nav button::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	top: -1px;
	left: -13px;
	background-color: #eee;
	z-index: -1;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transform: scale(.5);
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	-ms-transform: scale(.5);
	-o-transform: scale(.5);
}

.owl-nav button.owl-next::after {
    right: auto;
    left: 7px;
}

.owl-nav button:hover::after{
	background-color: #1E88E5;
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}

.owl-nav button span {
    color: #000;
	font-size: 23px;
	display: block;
	width: 44px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.owl-nav button:hover span {
    color: #fff;
}

.owl-nav button.disabled {
	cursor: not-allowed !important;
}

.owl-nav button.disabled::after,
.owl-nav button.disabled:hover::after{
    background-color: #eee;
    transform: scale(.4);
    -webkit-transform: scale(.4);
    -moz-transform: scale(.4);
    -ms-transform: scale(.4);
    -o-transform: scale(.4);
}

.owl-nav button.disabled span,
.owl-nav button.disabled:hover span {
    color: #999;
}

/* end of owl button style */

.qrop_blogs .reveal-trigger,
.qrop_testimonial .reveal-trigger,
.qrop_contact .reveal-trigger {
	opacity: 1;
}