@media (max-width: 991px) {
    .qrop_intro h2 {
        font-size: 65px;
    }
    .mobile_menu_btn {
        display: inline-block;
        background-color: #2564e4;
        color: #fff;
        height: 42px;
        line-height: 44px;
        width: 42px;
        text-align: center;
        cursor: pointer;
        font-size: 21px;
        position: absolute;
        top: 25px;
        right: 15px;
    }
    .nav_fixed .mobile_menu_btn {
        top: 15px;
    }
    .mobile_menu_btn:hover {
        background-color: #111;
    }
    nav .qrop_btn {
        margin-right: 47px;
    }
    #menu {
        position: absolute;
        background: #eaeaea;
        width: calc(200% - 30px);
        left: 15px;
        top: 80px;
        line-height: 200%;
        padding: 10px 0;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transform: scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
    #menu.show_menu {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
    }
    .nav_fixed #menu {
        top: 70px;
    }
    #menu li {
        display: block;
    }
    #menu li::after {
        display: none;
    }
    nav ul li:nth-child(1) a {
        padding-left: 17px;
    }
    nav ul li.active a,
    nav ul li a:hover {
        background-color: #fff;
    }
    .qrop_about .about_info p {
        font-size: 25px;
    }
    .section_title {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .sm-mt-30 {
        margin-top: 30px;
    }
    .qrop_intro {
        margin: 120px 0 80px;
    }
    .qrop_intro h2 {
        font-size: 55px;
    }
    .qrop_intro h3 {
        font-size: 25px;
    }
    #menu {
        width: 226%;
    }
    .section_title {
        margin-bottom: 30px;
    }
    footer {
        padding: 35px 0;
        height: auto;
        line-height: normal;
        text-align: center;
    }
    .footer_nav {
        text-align: center;
        margin-top: 15px;
    }
}

@media (max-width: 575px) {
    .xsm-mt-30 {
        margin-top: 30px;
    }
    #menu {
        width: 227%;
    }
    .section_single_padding {
        padding-top: 140px;
        padding-bottom: 20px;
    }
}

@media (max-width: 480px) and (min-width: 401px) {
    #menu {
        width: 223%;
    }
}

@media (max-width: 400px) {
    .qrop_intro h2 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .qrop_intro h3 {
        font-size: 20px;
        display: block !important;
    }
    .qrop_about .about_info p {
        font-size: 18px;
    }
    .footer_nav li {
        margin-left: 0;
        padding: 0 5px;
        line-height: 28px;
    }
    nav .qrop_btn {
        display: none;
    }
    .qrop_btn {
        height: 38px;
        line-height: 38px;
    }
    #menu li.d-none{
        display: block !important;
    }
    .qrop_intro {
        margin: 120px 0 60px;
    }
    #menu {
        width: 217%;
    }
    .logo {
        height: 28px;
        margin-right: 0;
    }
    .mobile_menu_btn {
        height: 37px;
        line-height: 40px;
        width: 38px;
    }
}