.qrop_btn {
    color: #fff;
    background-color: #1E88E5;
    padding: 0 20px;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
    display: inline-block;
    height: 42px;
    line-height: 42px;
}

.qrop_btn:hover {
	color: #fff;
}

.qrop_btn::after {
	position: absolute;
	content: "";
	height: 0;
	width: 100%;
	background-color: #111;
	top: 0;
	left: 0;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	z-index: -1;
	-webkit-transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.qrop_btn:hover::after {
	height: 100%;
	top: auto;
	bottom: 0;
}

nav {
	height: 90px;
	line-height: 90px;
	position: fixed;
	width: 100%;
	z-index: 888;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	border-bottom: 1px solid transparent;
}

nav.nav_fixed {
	height: 70px;
	line-height: 70px;
	background: #fff;
	border-bottom: 1px solid #eee;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

nav ul li {
	display: inline-block;
	position: relative;
}

nav ul li::after {
	position: absolute;
	content: "";
	height: 1px;
	width: 0px;
	background-color: #1E88E5;
	top: 50%;
	left: 100%;
	opacity: 0;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	z-index: -1;
}

nav ul li:hover::after,
nav ul li.active::after {
	width: 13px;
	left: 0;
	opacity: 1;
}

nav ul li a {
	color: #000;
	text-transform: capitalize;
	padding: 0 17px;
	display: block;
	font-weight: 600;
}

nav ul li.active a,
nav ul li a:hover {
	color: #1E88E5;
}

.mobile_menu_btn {
	display: none;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.logo {
	height: 30px;
	display: inline-block;
	margin-right: 30px;
}

.qrop_intro {
	margin: 170px 0 90px;
}

.qrop_intro h2 {
	font-size: 70px;
	font-weight: 700;
}

.cd-words-wrapper b {
	color: #1E88E5;
}

/* begin of about section */

.qrop_about .about_info p {
	font-size: 27px;
	font-weight: 500;
	line-height: 165%;
}

.qrop_about .about_info p span {
	color: #1E88E5;
}

/* education & experience */

.education_single h4,
.experience_single h4 {
	font-size: 20px;
	color: #444;
	margin-bottom: 10px;
}

.education_single p,
.experience_single p {
	line-height: 180%;
	color: #777;
}

/* skills */

.skills h5 {
	font-size: 17px;
	color: #444;
	margin-bottom: 8px;
}

.skills .skill_line {
	height: 10px;
	width: 100%;
	background-color: #e4e4e4;
	overflow: hidden;
}

.skills .skill_line .skill_width {
	height: 100%;
	background-color: #1E88E5;
}

/* end of about section */
/* begin of service section */

.service_item .service_icon {
	font-size: 45px;
	margin-bottom: 35px;
	position: relative;
	display: inline-block;
}

/* .service_item .service_icon::after {
	position: absolute;
	content: "";
	height: 25px;
	width: 25px;
	background-color: #d4d4d4;
	left: 25px;
	top: 23px;
	z-index: -1;
	box-shadow: 4px 4px 0 #1E88E5;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.service_item:hover .service_icon::after {
	transform: rotateZ(-15deg);
	-webkit-transform: rotateZ(-15deg);
	-moz-transform: rotateZ(-15deg);
	-ms-transform: rotateZ(-15deg);
	-o-transform: rotateZ(-15deg);
} */

.service_item h4 {
	color: #444;
	font-size: 20px;
	margin-bottom: 15px;
}

/* end of service section */
/* begin of work section */

.qrop_works {
	padding-bottom: 40px;
}

.work_single_item {
	padding-left: 20px;
	margin-bottom: 30px;
}

.work_image img {
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.work_image img:hover {
	filter: opacity(.2);
	-webkit-filter: opacity(.2);
}

.work_item_info h4 {
	font-size: 20px;
	background-color: #fff;
	position: absolute;
	top: 34px;
	opacity: 0;
	visibility: hidden;
	padding: 3px 7px;
	right: 25px;
	box-shadow: -3px 3px 0 #1E88E5;
	border: 2px solid #1E88E5;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.work_single_item:hover .work_item_info h4 {
	opacity: 1;
	visibility: visible;
	top: 14px;
}

.work_item_info p {
	position: absolute;
	top: 0;
	left: 10px;
	text-transform: uppercase;
	writing-mode: vertical-lr;
	letter-spacing: 1px;
	color: #777;
	font-weight: 500;
	font-size: 15px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.work_single_item:hover .work_item_info p {
	color: #000;
}

.filter_buttons {
	margin-bottom: 30px;
}

.filter_buttons button {
	border: 0;
	background-color: transparent;
	outline: 0;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 15px;
	padding: 5px 0;
	margin-right: 15px;
	cursor: pointer;
	color: #888;
	overflow: hidden;
	position: relative;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.filter_buttons button::after {
	position: absolute;
	content: "";
	height: 14px;
	width: 20%;
	top: 10px;
	left: -20%;
	z-index: 1;
	background-color: #4682fa;
}

.filter_buttons button:hover::after {
	width: 100%;
	left: 100%;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}

.filter_buttons button.btn_active::after {
	display: none;
}

.filter_buttons button:hover{
	color: #000;
}

.filter_buttons button.btn_active {
	color: #1E88E5;
}

/* end of work section */
/* begin of blog section */

.blog_item {
	width: 100%;
}

.blog_img {
	overflow: hidden;
}

.blog_img img {
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.blog_item:hover .blog_img img {
	filter: brightness(.8);
	-webkit-filter: brightness(.8);
	transform: scale(1.2) rotate(-5deg);
	-webkit-transform: scale(1.2) rotate(-5deg);
	-moz-transform: scale(1.2) rotate(-5deg);
	-ms-transform: scale(1.2) rotate(-5deg);
	-o-transform: scale(1.2) rotate(-5deg);
}

.blog_item_info h4 {
	font-size: 21px;
	margin: 20px 0 10px;
	text-transform: capitalize;
}

.blog_item_info p {
	margin-bottom: 20px;
	color: #777;
}

.blog_item_info a {
	color: #000;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	position: relative;
	overflow: hidden;
}

.blog_item_info a:hover {
	color: #1E88E5;
}

.blog_item_info a::after {
	position: absolute;
	content: "";
	height: 20px;
	width: 20%;
	top: 0;
	left: -20%;
	z-index: 1;
	background-color: #4682fa;
}

.blog_item_info a:hover::after {
	width: 100%;
	left: 100%;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}

/* begin of blog-single style */

.single_blog_details .blog_info {
    margin-top: 10px;
}

.blog_info p {
	display: inline-block;
	margin-right: 14px;
	color: #333;
}

.blog_info p span {
	color: #000;
	margin-right: 8px;
}

.single_blog_details .blog_single_img {
    display: inline-block;
    margin: 30px 0;
    border-radius: 2px;
}

.single_blog_details .blog_text_head::first-letter {
    font-size: 60px;
    float: left;
    margin: 7px 7px 0 0;
    color: #1E88E5;
    font-weight: 700;
}

.single_blog_details .blog_text_head {
    font-weight: 300;
}

.single_blog_details p {
	line-height: 180%;
}

.blog_text_block {
	padding: 20px;
	outline-offset: -8px;
	margin: 30px 0;
	background-color: #fff;
	box-shadow: 0 0 15px #eee;
	color: #333 !important;
	border: 2px solid #1E88E5;
}

.blog_tags {
    margin: 20px 0 40px;
}

.blog_tags ul {
	padding: 0;
	margin: 0;
}

.blog_tags ul li {
    display: inline-block;
    font-size: 14px;
}

.blog_tags li:nth-child(1) {
    margin-right: 7px;
    text-transform: uppercase;
    color: #999;
}

.blog_tags li a {
	color: #1E88E5;
	margin-right: 6px;
	font-weight: 600;
}

.blog_tags li a:hover {
    color: #000;
}

.blog_comments {
    margin-top: 50px;
}

.blog_comments img {
	height: 50px;
	width: auto;
}

.comment_author {
    font-family: inherit;
    font-size: 18px;
}

.comment_info {
    font-size: 14px;
    margin-top: 4px;
}

.full_comment {
    margin-left: -66px;
    margin-top: 20px;
    font-size: 16px;
    color: #777 !important;
}

.full_comment a {
	display: inline-block;
	padding: 1px 15px;
	margin-top: 15px;
}

.blog_comments .media {
	margin-top: 50px;
}

.blog_comments button{
	border: 0;
	outline: 0;
	cursor: pointer;
}

/* end of blog-single style */


/* end of blog section */
/* begin of testimonial section */

.testimonial_quote {
	position: relative;
	font-size: 60px;
	text-shadow: 2px 2px 0 #aaa;
	margin-top: 5px;
	margin-bottom: 25px;
	z-index: 1;
}

.testimonial_quote::after {
	position: absolute;
	content: "";
	height: 40px;
	width: 40px;
	background-color: #1E88E5;
	border-radius: 50%;
	z-index: -1;
	left: 10px;
	top: 0;
}

.testimonial_item h5 {
	font-size: 18px;
	line-height: 160%;
	margin-bottom: 20px;
}

.testimonial_item p {
	font-weight: 500;
	color: #000;
}

.testimonial_item p span {
	font-size: 15px;
	opacity: .5;
}

/* end of testimonial section */
/* begin of contact section */

.qrop_contact{
	padding-bottom: 100px;
}

.input_fild {
    width: 100%;
    background-color: transparent;
    color: #333;
    margin-bottom: 30px;
    padding-bottom: 8px;
    border: 0;
    border-bottom: 1px solid #777;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.input_fild:focus {
	border: 0;
    border-bottom: 1px solid #1E88E5;
}

textarea.input_fild {
    resize: none;
    height: 98px;
}

button.contact_button {
	outline: 0;
	margin-top: 0;
	cursor: pointer;
	border: 0;
	padding: 0 25px;
	text-transform: uppercase;
	font-size: 15px;
	background-color: #1E88E5;
	color: #fff;
	letter-spacing: 1px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

button.contact_button:hover {
	color: #fff;
}

/* --  begin of FORM Validation style */

.error {
    color: #e11717;
}

.success {
    color: #14ba3a;
}

.inputEmpty {
    border-color: #e11717;
}

.inputNotEmpty {
    border-color: #fff;
}

.inputEmpty::-webkit-input-placeholder {
    color: #e11717;
    opacity: 1;
}

.inputEmpty::-moz-placeholder {
    color: #e11717;
    opacity: 1;
}

.inputEmpty:-ms-input-placeholder {
    color: #e11717;
    opacity: 1;
}

.inputEmpty:-moz-placeholder {
    color: #e11717;
    opacity: 1;
}

/* end of FORM Validation style */

/* end of contact section */
/* begin of footer section */

footer {
	height: 70px;
	background-color: #fff;
	border-top: 1px solid #eee;
	line-height: 70px;
	position: relative;
	z-index: 999;
}

.footer_nav {
	padding: 0;
	margin: 0;
	text-align: right;
}

.footer_nav li {
	list-style: none;
	display: inline-block;
	margin-left: 15px;
}

footer a {
	color: #333;
	font-weight: 500;
}

footer a:hover {
	color: #1E88E5;
}

/* end of footer section */

